div{width: 300px; height: 300px;}
.stag1{background-color: chocolate;}
.stag2{background-color: palegoldenrod;position: absolute; left: 300px; top: 20px;}
.stag3{background-color: olive; position: fixed; left: 600px; top: 20px;}
.boxWrap{position: relative;}
.stag4{background-color: silver}


.stag5{background-color: magenta; float: left;}
.stag6{background-color: wheat; float: left;}
.stag7{background-color: maroon; float: left;}