h1{color: cyan;background-color: lightcoral;width : 300px;}
#baek a{color: greenyellow;}
ul {float: : left;width: 20px;text-decoration: none}
/*리스트 도형 및 숫자제거*/
ul,ol,li{list-style: none;}
/*a태그 텍스트 스타일 제거*/
a{text-decoration:none;}
/*가로정렬*/
li{float: left;}